:root{
    --green: rgb(70, 238, 70);
    --greenhover: rgba(70,238,70,.5);
}

* {
    font-family:Arial, Helvetica, sans-serif;
}

body:hover {
    cursor: default;
}

header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}

/*viewScores p*/
.view-score-text {
    color: rgb(77, 0, 128);
}

.view-score-text:hover {
    cursor: pointer;
    text-decoration: underline;
}

.game-text {
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*game title*/
h1 {
    font-size: 50px;
    background: -webkit-linear-gradient(#5b06ed, #0cfa14);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -10px;
}

#intro p {
    font-size: 25px;
    margin-top: -10px;
    width: 73%;
}

button {
    background-color: var(--green);
    margin-top: 10px;
}

button:hover {
    background-color: var(--greenhover);
    cursor: pointer;
}

/*start button*/
#intro button {
    height: 35px;
    width: 70px;
    font-size: 20px;
}

#quiz {
    margin-top: -50px;
}

/*quesText*/
#quiz h2 {
    width: 40%;
    text-align: left;
}

/*rightWrongText*/
#quiz p {
    background-color: gainsboro;
}

/*answer options and score list*/
ul {
    width: 20%;
}

ul li {
    text-align: left;
    border: 2px solid black;
    padding: 8px;
    margin: 5px;
    list-style-type: none;
    font-weight: bold;
    background-color: var(--green);
}

.answer-list li:hover {
    background-color: var(--greenhover);
    cursor: pointer;
}

#save-score h2 {
    font-style: italic;
    font-size: 30px;
}

#save-score input {
    height: 30px;
    margin-top: 10px;
    padding-left: 5px;
}

#save-score button {
    margin-left: 10px;
    width: 80px; 
    height: 30px;
}

.buttons {
    position: relative;
    left: 20px;
}

/*back and clear scores buttons*/
#display-scores button {
    background-color: white;
    margin: 10px;
    height: 30px;
    width: 150px;
}

#display-scores button:hover {
    background-color: rgb(94, 225, 242);
}